<section data-ng-controller="EmployeesController" data-ng-init="findOne()">
<h2>{{employee.user.name}}</h2>
<form role="form">
  <div class="form-group">
    <label>File:</label><span>{{employee.file}}</span>
  </div>
  <div class="form-group">
    <label>Email:</label><span>{{employee.email}}</span>
  </div>
  <div class="form-group">
    <label>Start date:</label><span>{{employee.start_date | date:'medium'}}</span>
  </div>
  <div class="form-group">
    <label>Title:</label><span>{{employee.title}}</span>
  </div>
  <div class="form-group">
    <label>Assigned to:</label><span>{{employee.assigned_to}}</span>
  </div>
  <div class="form-group">
    <label>Technologies:</label><span>{{employee.technologies}}</span>
  </div>
  <div class="form-group">
    <label>Belongs to:</label><span>{{employee.belongs.user.name}}</span>
  </div>
</form>
    <!--
    <div data-ng-show="global.user._id == employee.user._id">
    -->
        <a class="btn" href="/#!/employee/{{employee._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    <!--
    </div>
    -->
</section>
